:root {
    --primary-brand-color-iris: #4D5AE5;
    --button-dark-blue: #404BBF;
    --dark-navy-blue: #2E2F42;
    --success: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --grey: #2E2F42B2;
    --transition-time-and-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--slate);
}

/* menu section */
.header-tag {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-box {
    display: flex;
    align-items: center;
    
}

.nav-box {
    display: flex;
    
}

.address-box {
    margin-left: auto;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    margin-right: 70px;
    padding: 24px 0;

    text-transform: uppercase;
    text-decoration: none;
}

.logo-web {
    color: var(--primary-brand-color-iris);
    display: inline-block;
}

.logo-studio {
    color: var(--dark-navy-blue);
    display: inline-block;
    
}

.logo-studio-cloud {
    color: var(--cloud);
}

.top-menu {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    
    display: flex;
    align-items: center;
}

.top-menu .top-menu-items {
    margin-right: 40px;
}

.top-menu .top-menu-items:last-child {
    margin-right: 0;
}

.top-menu-link {
    text-decoration: none;
    color: var(--dark-navy-blue);
    padding: 24px 0;
    transition: color var(--transition-time-and-cubic);
}

.top-menu-link:hover,
.top-menu-link:focus {
    
    color: var(--primary-brand-color-iris);
}

.top-menu-link:active {
    color: var(--primary-brand-color-iris);
}

.current-page {
    color: var(--primary-brand-color-iris);
    display: flex;
    position: relative;
    
}

.current-page::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--button-dark-blue);
    /* border-bottom: 2px solid var(--primary-brand-color-iris); */
    position:absolute;
    bottom: 0;

    border-radius: 2px;
}

.contact {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: color var(--transition-time-and-cubic);
}

.contact:hover,
.contact:focus {
    color: var(--primary-brand-color-iris);
}

/* Main Page (main style) */

.hero {
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;

    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 48px;
}


.baner-grey {
    text-align: center;
    
    background: linear-gradient(to right, var(--grey), var(--grey)), url(../images/people-office-1.jpg), no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 192px;
    padding-bottom: 192px;
}

.header-sections {
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--dark-navy-blue);
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
}

.features {
    display: flex;
    
}

.features .features-list {
    margin-right: 24px;
    width: calc((100% - 72px) / 4);
    
}

.features .features-list:last-child {
    margin-right: 0;
}

.features-icon-box {
    background-color: var(--cloud);
    
    width: 264px;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 24px 100px; */
}

.icon-features {
    fill: var(--dark-navy-blue);
    width: 64px;
    height: 64px;
}

.header-items {
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-navy-blue);
    margin: 0 0 8px 0;
}

.text-items {
    color: var(--slate);
    margin: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.similar {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.services {
    padding-top: 0;
}

.our-services {
    display: flex;
    justify-content: center;
    /* gap: 0 24px; */
}

.our-services .services-list:not(:last-child) {
    margin-right: 24px;
}

.our-team {
    background-color: var(--cloud);

}

.team-cards {
    display: flex;
    justify-content: center;
}

.team-cards .people {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-right: 24px;
}

.team-cards .people:last-child {
    margin-right: 0;
}

.team-title {
    text-align: center;

    padding-top: 32px;
    padding-bottom: 32px;
}

.images {
    display: block;
}

.social-flex {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
}

.social-link {
    background-color: var(--primary-brand-color-iris);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    transition: background-color var(--transition-time-and-cubic);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--button-dark-blue);
}

.social-icon {
    width: 16px;
    height: 16px;
    fill: var(--cloud);
}


/* Buttons */
.button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: var(--primary-brand-color-iris);
    cursor: pointer;
    
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    
    transition: background-color var(--transition-time-and-cubic);
}

.filter .button {
    color: var(--primary-brand-color-iris);
    
    border: 1px solid var(--cornflower);
    background-color: var(--cornflower);
    padding: 8px 16px;
    transition: border-color var(--transition-time-and-cubic),
                box-shadow var(--transition-time-and-cubic),
                background-color var(--transition-time-and-cubic),
                color var(--transition-time-and-cubic);
}

.filter-box {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.button:hover,
.button:focus {
    color: #FFFFFF;
    background-color: var(--button-dark-blue);
    
}

.filter {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter .button:hover,
.filter .button:focus {
    border: 1px solid var(--primary-brand-color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.filter-box .button-list {
    margin-right: 24px;
}

.filter-box .button-list:last-child {
    margin-right: 0;
}
/* Customers */

.customers {
    padding-top: 130px;
    padding-bottom: 120px;
}

.customers-logo-list {
    display: flex;
    gap: 24px;
}

.customer-logo-box {
    width: calc((100% - 120px) / 6);
}

.customer-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    height: 88px;
    transition: fill var(--transition-time-and-cubic),
                 border-color var(--transition-time-and-cubic);
    
    fill: var(--light-slate);
}

.customer-logo-item {
   
    width: 104px;
    height: 56px;
}

.customer-pages:hover,
.customer-pages:focus {
    fill: var(--primary-brand-color-iris);
    border: 1px solid var(--primary-brand-color-iris)
}

/* Portfolio page style */

.filter-items-link {
    display: block;
    text-decoration: none;
    position: relative;
    transition: box-shadow var(--transition-time-and-cubic);
}

.filter-items-link:hover,
.filter-items-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.filter-items-link:hover .overlay-text,
.filter-items-link:focus .overlay-text {
    transform: translateY(0);
}

.overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 40px 32px;

    background-color: var(--primary-brand-color-iris);
    color: var(--cloud);

    transform: translateY(100%);
    transition: transform var(--transition-time-and-cubic);
}

.header-items-link {
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-navy-blue);
    margin: 0;
}

.paragraph-link {
    text-decoration: none;
    color: var(--slate);
    margin: 8px 0 0 0;
}

.examples {
    display: flex;
    flex-wrap: wrap;
}

.examples .examples-list {
    margin-right: 24px;
    margin-bottom: 48px;
}

.examples .examples-list:nth-child(3n+3) {
    margin-right: 0;
}

.examples .examples-list:not(:nth-last-child(1n+4)) {
    margin-bottom: 0;
}

.examples-text {
  
    padding-left: 16px;
    padding-top: 30px;
    padding-bottom: 32px;

    border: 0.5px solid #F4F4FD;
    border-top: none;
}



/* Modal section */

.backdrop {
    position:fixed;
    top: 0;
    /* bottom: 0; */
    left: 0;
    /* right: 0; */
    width: 100%;
    height: 100%;

    background: #2E2F4266;

    transform: scale(1);
    opacity: 1;
    visibility: visible;

    transition: opacity var(--transition-time-and-cubic),
                visibility var(--transition-time-and-cubic),
                transform 300ms linear;
    
}

.modal-box {
    background: #FCFCFC;
    color: var(--light-slate);
    position: absolute;
    top: 50%;
    left: 50%;

    width: 408px;
    /* height: 576px; */
    padding: 24px;
    padding-top: 72px;
    
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px #00000033,
    0px 1px 3px 0px #0000001F,
    0px 1px 1px 0px #00000024;
    
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-time-and-cubic);

}

.is-hidden {
    opacity: 0;
    visibility: collapse;
    pointer-events: auto;
    transform: scale(0.1);
     
}

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid #0000001A;
    border-radius: 50%;
    background-color: var(--cornflower);

    cursor: pointer;
    transition: background-color var(--transition-time-and-cubic);
}

.btn-close:active,
.btn-close:hover {
    background-color: var(--primary-brand-color-iris);
    
}

.btn-close-sign {
    fill: black;
    width: 8px;
    height: 8px;
    transition: fill var(--transition-time-and-cubic);
}

.btn-close:active > .btn-close-sign,
.btn-close:hover > .btn-close-sign {
    fill: var(--cloud);
}

.modal-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    color: var(--dark-navy-blue);

    margin-top: 0;
    margin-bottom: 16px;
}

.callback-filds {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.callback-label {
    position: relative;
    margin-bottom: 8px;
   
}

.text-label {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.3;

    display: block;
    margin-bottom: 4px;
}


.callback-form-icon {
    display: block;
    position:absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-12%);
    width: 18px;
    height: 24px;
    fill: var(--dark-navy-blue);
    transition: fill var(--transition-time-and-cubic);
}

.callback-input-text {
    width: 100%;
    height: 40px;
    
    padding-left: 38px;
}

.callback-input-text,
.callback-textarea {
    border-radius: 4px;
    border: 1px solid #21212133;

}

.callback-input-text:focus,
.callback-textarea:focus {
    border: 1px solid var(--primary-brand-color-iris);
    color: var(--dark-navy-blue);
    outline: none;
}

.callback-input-text:focus + .callback-form-icon {
    fill: var(--primary-brand-color-iris);
    
}

.callback-textarea {
    height: 120px;
    width: 100%;
    border-radius: 4px;
    padding-top: 8px;
    padding-left: 16px;
    resize: none;
}

.callback-textarea::placeholder {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #75757580;
    
}

.textarea-label {
    margin-bottom: 0;
}

.privacy {
    /* position: relative; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}


.label-callback-privacy {

    font-size: 12px;
    letter-spacing: 0.04em;

    display: block;
    /* margin-top: 16px;
    margin-bottom: callback-privacy24px; */
}

.callback-privacy-link {
    color: var(--primary-brand-color-iris);
}

#callback-privacy {
    -moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
    outline: none;
}

#callback-privacy::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--dark-navy-blue);
    border-radius: 2px;
    cursor: pointer;
}

#callback-privacy:focus {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-color: var(--primary-brand-color-iris);
    box-shadow: 0 0 10px var(--primary-brand-color-iris);
    transition: border-color var(--transition-time-and-cubic),
                box-shadow var(--transition-time-and-cubic);
}

#callback-privacy:checked {
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--primary-brand-color-iris);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23F4F4FD' d='M11.46 4.49a.916.916 0 0 1 .61-.223.913.913 0 0 1 .607.23.78.78 0 0 1 .262.556.773.773 0 0 1-.23.567l-4.655 5.374a.878.878 0 0 1-.284.188.937.937 0 0 1-.976-.167L3.707 8.166a.812.812 0 0 1-.203-.262.756.756 0 0 1 .18-.9.884.884 0 0 1 .292-.178.94.94 0 0 1 .684.011.878.878 0 0 1 .284.187l2.443 2.254 4.052-4.765a.305.305 0 0 1 .023-.024h-.001Z'/%3e%3c/svg%3e");
    cursor: pointer;
}


.callback-submit {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: var(--primary-brand-color-iris);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    width: 169px;
    height: 56px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: background-color var(--transition-time-and-cubic);
    cursor: pointer;
}

.callback-submit:hover,
.callback-submit:focus {
    background-color: var(--button-dark-blue);
}


/* Footer */
.dark-footer { 
    background-color: var(--dark-navy-blue);
    color: #FFFFFF;

    padding-top: 100px;
    padding-bottom: 100px;
}

.dark-footer .container {
    display: flex;
    /* gap: 120px; */
}

.footer-slogan {
    width: 264px;
    margin: 0;
    margin-right: 120px;
}

.slogan-text {
    margin: 0;
    margin-top: 16px;
}

.header-footer {

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    margin-top: 0;
    margin-bottom: 16px;

}

.media-icons {
    display: flex;
    gap: 16px;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF1A;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color var(--transition-time-and-cubic);
}

.media-links:hover,
.mdeia-links:focus {
    background-color: var(--success);
    
}

.footer-icons {
    width: 24px;
    height: 24px;
    fill: var(--cloud);
}

.subscribe-form-wrapper {
    margin-left: auto;
}

.subscribe-form {
    display: flex;
    /* flex-wrap: nowrap; */
    gap: 24px;
}

.subscribe-email {
    color: #FFFFFF4D;
    background-color: var(--dark-navy-blue);
    width: 264px;
    /* height: 40px; */
    border: 1px solid #FFFFFF4D;
    border-radius: 4px;
    padding: 8px 16px;
    outline: none;
}

.subscribe-email:focus {
    border-color: var(--primary-brand-color-iris);
}

.subscribe-email::placeholder {
    color: #FFFFFF4D;
}


.subscribe-submit {
    color: white;
    fill: white;
    background-color: var(--primary-brand-color-iris);
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
    width: 165px;
    transition: background-color var(--transition-time-and-cubic);
    cursor: pointer;
}

.subscribe-submit:hover,
.subscribe-submit:focus {
    background-color: var(--button-dark-blue);
}

/* .subscribe {
    display: block;
} */

.paper-plane {
    width: 24px;
    height: 24px;
}